# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Expo Dev stuff
ios/
android/

# React
.metro-health-check*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Worklets for the map
react-native-reanimated/plugin.js

# Local
.env
.env.*
!.env.example

# OS Files
.DS_Store
Thumbs.db

# vscode
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Misc
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem